.pageInfosContainer {
  display: flex;
  justify-content: center;
}

.pageInfosContainer button {
  margin-top: 20px;
  cursor: pointer;
}

.cardInfosContainer {
  margin-top: 100px;
  width: 600px;
}

.cardInfosContainer .paragraphcontact {
  text-align: start;
}

.cardInfosContainer .paragraph {
  text-align: start;
  margin-bottom: 200px;
}

.infosContact {
  margin-bottom: 100px;
}
.infosContact p {
  margin: 0px;
}

@media screen and (max-width: 630px) {
  .cardInfosContainer {
    width: 350px;
  }
}
